body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-image: linear-gradient(30deg, #3023AE, #9C58CB);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.url {
    display: flex;
}

.url input {
    border-radius: 15px;
    background: #f0f0f0;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #c0c0c0;
    font-size: 13px;
    width: 200px;
}

.address_shares {
    display: flex;
    flex-direction: row;
}

.address{

}

.address input {
    border-radius: 15px;
    background: #f0f0f0;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #c0c0c0;
    font-size: 13px;
    width: 200px;
}

.shares{

}

.shares input {
    border-radius: 15px;
    background: #f0f0f0;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #c0c0c0;
    font-size: 13px;
    width: 200px;
}
